#homeContainer {
  display: flex;
  flex-direction: column;
}
#HabitContainer {
  height: 450px;
  width: 100%;
  overflow-y: scroll;
}

.habitInfo {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-left: 2%;
  margin-top: 1%;
  margin-bottom: 1%;
  font-size: large;
  align-items: baseline;
}
.habitInfo button {
  width: auto;
  height: fit-content;
  justify-content: baseline;
}
.currentHabbit {
  text-align: center;
  display: flex;
  width: 72.8%;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 15.2%;
  background-color: rgb(66, 6, 94);
  flex-direction: column;
  color: antiquewhite;
  border-radius: 2px 25px 2px 25px;
}
.currentHabbit h2 {
  padding-left: 2%;
}
#addHabbit {
  text-align: center;
  font-size: large;
  background-color: rgb(66, 15, 148);
  width: 70%;
  padding: 1%;
  margin-left: 15%;
  margin-top: 1%;
  border-radius: 8px;
}
#addHabbit legend {
  color: white;
}
#addHabbit-container {
  display: flex;
  width: auto;
  justify-content: space-between;
  border-radius: 8px;
}
#taskName {
  flex-grow: 0.7;
}
#targetTask {
  width: 50px;
}
#addHabbit-container input {
  box-sizing: border-box;
}

#addTasktables {
  margin: 10px;
}
#submitBtn {
  background-color: darkgreen;
  color: bisque;
  cursor: pointer;
  border-radius: 6px;
  border: none;
}
#status {
  border: none;
  cursor: pointer;
}

.deleteHF {
  cursor: pointer;
  color: aliceblue;
  background-color: rgb(198, 47, 47);
  border: none;
  border-radius: 6px;
}
